@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root{
   
    --Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--header:hsl(0, 0%, 95%);
--paragraph:hsla(0, 0%, 100%, 0.75);
    --font-family: 'Lexend Deca', sans-serif;
    --font-family-2: 'Big Shoulders Display', cursive;
    --font-size:15px;
    --wiegth1--:400;
    --wiegth2--:500;
    --wiegth3--:600;
    --wiegth4--:700;
    --white:white;
}
p{color: var(--paragraph);
font-family: var(--font-family)}
a{
text-decoration: none;
font-family: var(--font-family);
}
h1{
    color: var(--header);
    font-family: var(--font-family);
}
.btn{
    background: var(--header);
    margin-top: 3rem;
      padding: 0.375rem 0.75rem;
      letter-spacing: 1;
      display: inline-block;
      /* font-weight: 700; */
      border-radius: 9px;
      font-size: var(--font-size);
      border: 2px solid transparent;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      font-family: var(--font-family);
  cursor
    }
    .btn:hover {
      color: var(--clr-primary-1);
      background: var(--clr-primary-8);
    }
/* (https://fonts.google.com/specimen/Poppins) */

.container{
    justify-content: center;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

@media screen and (min-width:1440px) {
    .card-1{
    border-bottom-left-radius: 15px;}
  .card-3{
    border-top-right-radius: 15px;}
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-0{
        position:relative;
        left: 88%;
       background: darkgoldenrod;
       color: white;
    }
    h1{
        color: var(--header);
        font-family: var(--font-family-2)
    }
  .section{
    display: grid;
    gap: 0.5rem;
    background:var(--header);
    justify-content:center ;
    height: 100vh;
    align-content: center;
    padding:1rem 0;
    grid-template-columns:repeat(6,70px);
    grid-template-rows: 30px 30px repeat(2,70px) 35px 35px ;
    grid-template-areas:
    'a a a a b b'
    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e'
    'c c c e e e'
    'c c c e e e';
    
}
} 
.card{
    width:300px;
    padding: 2rem;
    background: var(--primary-red);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--white);
}
.card>h1{
    padding: 1rem 0;
    font-weight: var(--wiegth4--);
    text-transform: uppercase;
}
.card-1{
    border-top-left-radius: 15px;
    background: var(--Bright-orange)
}
.card-2{
    background:var(--Dark-cyan);
}
.card-3{
    background: var(--Very-dark-cyan);
   border-bottom-right-radius: 15px;
}
.btn-1{
    color:var(--Bright-orange) ;
}

.btn-2{
    color:var(--Dark-cyan) ;
}

.btn-3{
    color:var(--Very-dark-cyan) ;
}
.btn-0{
    margin: 1rem;
   background: darkgoldenrod;
   color: white;
}
.grid{
    background: red;
}
section{
    background: var(--header);
}
@media screen and (max-width:1440px){
.section>article{
  width: 200px;
  height: 200px;
}}
.grid-one{
    background: chartreuse;
    grid-area: a;}
.grid-two{
    background: orange;
    grid-area: b;}
.grid-three{
    background: #880808;
    grid-area: c;}
.grid-four{
    background:hsl(184, 80%, 74%);
    grid-area: d;}
.grid-five{
    background:hsl(184, 80%, 74%);
    grid-area: e;}
